body
{
	font-family: "微软雅黑"
}
input#filedir
{
	width:320px;
}
header.head
{
    background-color: rgba(119, 91, 91, 0.5);
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 15px;
    font-weight: bold;
}
a.btn-find
{
	display: inline-block;
	width: 60px;
	padding: 2px;
	border:1px solid grey;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
}
a.btn-find:hover
{
	cursor: pointer;
}

.chk
{
    width: 32px;
    height: 38px;
    position: relative;
    cursor: default;
    top: 0;
    left: 3px;
}
.chk-ico
{
    background: transparent url("images/btn_icon.gif") -113px 0 no-repeat;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 12px;
    left: 12px;
}
.chkicod
{
    background-position:-113px -19px;
}

.backgroundblue
{
	background-color: rgba(198, 226, 231, 0.57);
}

a.rename-btn
{
    display: inline-block;
    width: 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    border: 1px solid rgba(76, 171, 90);
    background-color: rgba(76, 171, 90, 0.7);
    margin-left: 5px;
}
a.rename-btn:hover
{
    cursor: pointer;
}
a.rename
{
    display: inline-block;
    width: 58px;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    border: 1px solid rgba(76, 171, 90);
    background-color: rgba(104, 76, 171, 0.53);
}
a.rename:hover
{
    cursor: pointer;
}

.Hide
{
    display:none;
}
#formUpload
{
    display: inline-block;
}
input[type='file']
{
    width: 200px;
}
